DOMA_GRAPHQL_ENDPOINT=https://api-testnet.doma.xyz/graphql
DOMA_API_KEY=
DOMA_MARKETPLACE_ENDPOINT=https://api-testnet.doma.xyz/graphql
PORT=3001

# Lista separada por comas, ej: https://api.domafleet.io,http://localhost:5173
CORS_ORIGIN=


